.footer {
  padding: 40px 20px 20px 20px;
  text-align: left;

  @media only screen and (min-width: $desktop-width) {
    text-align: right;
  }
}

.footer__text {
  color: $opacity-color;
}

.footer__text a {
  color: $opacity-color;
}

.footer__text:hover a {
  color: $main-color;
}
