$mobile-width: 320px;
$mobile-width-only: 767px;
$tablet-width: 660px;
$desktop-width: 1200px;
$main-color: #174b70;
$details-hover: #d45f6f;
$details-color: #d45f6f;
$opacity-color: rgba(31, 32, 32, 0.7);
$main-font: "Inter", "Helvetica", sans-serif;
